<div class="row cockpit">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>

        <label>Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="newName">
        <label>Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newContent">
        <br>

        <button
        class="btn btn-primary"
        (click)="onAddServer()">Add Server</button>&nbsp;&nbsp;
        <button
        class="btn btn-primary"
        (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
</div>
