<app-cockpit
  (serverCreated)='onServerAdded($event)'
  (blueprintCreated)='onBluepringAdded($event)'
></app-cockpit>

<div class="panel panel-default">
    <app-server *ngFor="let server of servers"
      [server]='server'
    >
      <p #contentPara>
        <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
        <em *ngIf="server.type === 'blueprint'" style="color: blue">{{ server.content }}</em>
      </p>
    </app-server>
</div>
