.servers {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.server-name { 
    background-color: antiquewhite;
}
.server-content {
    background-color: silver;
}