<div class='servers'>
  <div class="panel-heading server-name">{{ server.name }}</div>
  <div class="panel-body server-content">
    
    <!-- <p>
      <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
      <em *ngIf="server.type === 'blueprint'" style="color: blue">{{ server.content }}</em>
    </p> -->
    <!-- content comes from app-root -->
    <ng-content></ng-content>
  </div>
</div>